* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 322px !important;
  height: 311px !important;
  min-width: 322px !important;
  min-height: 311px !important;
  max-width: 322px !important;
  max-height: 311px !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: transparent;
}

button,
input,
textarea {
  font: inherit;
}